.fetch-filters {
	margin-bottom: 2em;
}

.fetch-filter-fields {
	margin-bottom: 1em;
	outline: none;
}

.fetch-filters label {
	display: block;
	width: 100%;
}

.fetch-filter-heading {
	text-transform: capitalize;
}

.fetch-pet[hidden] {
	display: none;
}

#fetch-filter-section-breeds .fetch-filter-checkboxes {
	@media (min-width: 30em) {
		column-count: 2;
		column-gap: 1.5625em;
	}

	@media (min-width: 40em) {
		column-count: 3;
	}

	@media (min-width: 80em) {
		column-count: 4;
	}
}