/**
 * Icons
 */

.svg .icon-xlarge {
	height: 4em;
	width: 4em;
}


/**
 * Grid
 */

.container-small {
	max-width: 40em;
}


/**
 * Navigation
 */

@media (max-width: 40em) {
	.list-inline.list-inline-responsive li {
		display: block;
	}
}


/**
 * Images
 */

/*  Adds a border */
.img-border,
.img-photo {
	border: 1px solid #cccccc;
}

/*  Adds padding and a white border */
.img-photo {
	padding: 0.25em;
	background-color: #ffffff;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

/*  Adds a 50% border radius, turning square images into a circle. */
.img-circle {
	border-radius: 50%;
}

/**
* Limit image height
*/
.img-limit-height {
	max-height: 12em;
}

.img-limit-height-large {
	max-height: 25em;
}


/**
 * Prism
 * Code syntax highlighting by Lea Verou.
 * http://prismjs.com/
 */

@media screen {

	.token.comment,
	.token.prolog,
	.token.doctype,
	.token.cdata {
		color: slategray;
	}

	.token.punctuation {
		color: #999;
	}

	.token.property,
	.token.tag,
	.token.boolean,
	.token.number,
	.token.constant,
	.token.symbol {
		color: #905;
	}

	.token.selector,
	.token.attr-name,
	.token.string,
	.token.builtin {
		color: #690;
	}

	.token.operator,
	.token.entity,
	.token.url,
	.language-css .token.string,
	.style .token.string,
	.token.variable {
		color: #a67f59;
	}

	.token.atrule,
	.token.attr-value,
	.token.keyword {
		color: #07a;
	}


	.token.regex,
	.token.important {
		color: #e90;
	}

	.token.important {
		font-weight: bold;
	}

	.token.entity {
		cursor: help;
	}

}