/**
 * @section Grid
 * Structure and layout
 */

/**
 * Clearfix
 */
%clearfix {
	&:before,
	&:after {
		display: table;
		content: " ";
	}

	&:after {
		clear: both;
	}
}

/**
 * Base grid styles: single column
 */
.fetch-container {
	@extend %clearfix;
	max-width: 100%;
	width: 100%;
}

.fetch-container-small {
	max-width: $bp-medium;
}

.fetch-row {
	@extend %clearfix;
	margin-left: $grid-margins * -1;
	margin-right: $grid-margins * -1;
}

%grid-base {
	float: left;
	padding-left: $grid-margins;
	padding-right: $grid-margins;
	width: 100%;
}

@each $grid, $width in ($grid-sizes) {
	.fetch-grid-#{$grid} {
		@extend %grid-base;
	}
}


/**
 * Reverses order of grid for content choreography
 */
.fetch-grid-flip {
	float: right;
}


/**
 * Add columns to grid on bigger screens
 */
@each $breakpoint, $prefix, $offset in ($grid-breakpoints){
	@media (min-width: $breakpoint) {
		@each $grid, $width in ($grid-sizes) {
			#{$prefix} .fetch-grid-#{$grid} {
				width: $width;
			}
		}
	}
}

/**
 * Dynamic grid
 */
 @each $namespace, $breakpoint, $width in ($grid-dynamic){
 	#{$namespace} {
 		@extend %grid-base;
 	}
 	@media (min-width: $breakpoint) {
 		#{$namespace} {
 			width: $width;
 		}
 	}
 }