/**
 * @section Filters
 * Styles for pet filters
 */


/**
 * Filters for "All Pets" page
 */
.fetch-filters {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;

	@media (min-width: $bp-large) {
		.js-fetch-sort & {
			clip: auto;
			height: auto;
			margin: 0 0 $spacing;
			overflow: visible;
			position: static;
			width: auto;
		}

		.js-fetch-has-sidebar & {
			border: 0;
			clip: rect(0 0 0 0);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
		}
	}

	.js-fetch-sort &.active {
		clip: auto;
		height: auto;
		margin: 0 0 $spacing;
		overflow: visible;
		position: static;
		width: auto;
	}
}


/**
 * Filters toggle
 */
.fetch-filters-toggle {
	display: none;
	visibility: hidden;

	@media (max-width: $bp-large) {
		.js-fetch-sort & {
			display: inline-block;
			visibility: visible;
		}
	}

	.js-fetch-has-sidebar & {
		display: inline-block;
		visibility: visible;
	}
}